@import url('fonts/gotham/stylesheet.css');
@import url('fonts/domine/stylesheet.css');

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 80%;
}

body {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  background: #e6e6e6;
  color: #333;
}

.container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.btn {
  background: #005399;
  color: white;
  font-size: .8em;
  border: none;
  padding: .5em 1.5em;
  text-transform: uppercase;
  letter-spacing: .16em;
}

.heading {
  display: flex;
  box-sizing: border-box;
  padding: 30px 0;
  flex-direction: column;
  justify-content: space-between;
  background: url('../img/bg.jpg');
  background-size: cover;
  background-position-x: 20%;
}
.logo-tagline {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.logo {
  flex: 1;
}
.logo img {
  width: 170px;
}
.tagline {
  flex: 1;
  font-family: 'Domine', serif;
  font-size: 1rem;
  text-align: right;
  color: #10b0e6;
  min-width: 260px;
  margin-top: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
.hero-text {
  line-height: 1.4em;
  max-width: 850px;
  margin: 1.4rem;
  font-size: 1.5rem;
}
.hero-text-sub {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 760px;
}
.fruitloops {
  height: 20px;
  border: none;
  margin: 0;
  background: linear-gradient(to right,
    #FFCA05 0%, #FFCA05 25%,
    #50b748 25%, #50b748 50%,
    #f15623 50%, #f15623 75%,
    #10b0e6 75%, #10b0e6 100%);
}

.content {
  background: #fff;
}

.content p:first-child {
  margin-top: 0;
}

.content > .container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.main-copy, .form {
  min-width: 280px;
  flex: 1;
}

.main-copy {
  color: #005399;
  line-height: 2em;
}

.form p {
  line-height: 1.8em;
}

.form .row {
  display: flex;
  margin: 1.5em 0;
}

.field {
  flex: 1;
  margin: 0 1em;
}

.field:first-child {
  margin-left: 0;
}

.field label {
  font-size: .8rem;
  margin-bottom: .4em;
}

.field label, .field input[type=text], .field textarea {
  display: block;
}

.field input[type=text], .field textarea {
  width: 100%;
  background: #fafafa;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 2px;
}

.field label em {
  color: #F25623; 
}

.submit-row {
  text-align: right;
}

footer {
  margin: 2rem 0;
  font-size: .5rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  html {
    font-size: 100%;
  }
  .heading {
    padding: 50px 0;
  }
  .container {
    width: 100%;
  }
  .hero-text {
    font-size: 2rem;
  }
  .main-copy, .form {
    min-width: 315px;
  }
  footer {
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
  .heading {
    padding: 80px 0;
    height: 500px;
  }
  .logo img {
    width: 340px;
  }
  .hero-text {
    font-size: 2.5rem;
  }
  .hero-text-sub {
    font-size: 1.2rem;
  }
  .main-copy {
    margin-right: 20px;
  }
  .form {
    margin-left: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .heading {
    height: 600px;
  }
  .container {
    width: 900px;
  }
  .hero-text {
    font-size: 3.4rem;
  }
  .tagline {
    font-size: 1.5rem;
  }
  .main-copy {
    font-size: 1.5rem;
    margin-right: 40px;
  }
  .form {
    margin-left: 40px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
